
.header-bar.focused {
  display: none; 
}
.input-bar.focused {
  width: 744px;
}

.prodPriceSale{
  font-weight: 400;
text-decoration: line-through;
margin-left: 15px;

}
.prodPrice{
  font-weight: 400;
  color: #555;
  color: red;
}

.hoverText:hover{
text-decoration: underline;
cursor: "pointer";
}
.flex-container{
     width: 150%;
      justify-content:"center";
      align-items: center;
      margin: auto;
      background-color: '#4a90e2';
      padding: 5px;
      gap:"10px";
}