.product-box {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
}

.product-box h3 {
  font-size: 18px;
  color: #333;
}

.rating-bar {
  color: gold;
}

.rating-bar i {
  margin-right: 2px;
}
.container {
  width: 80%;
  height: 76px;
  margin: 0 0 3% 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px;
}

.menu-button {
  font-weight: bold.500;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 50%;
  font-size: 0.7rem;
  background-color: #FFFFFF;
  margin: 2%;
}

.menu-list {
  background-color: white;
}

.grid-container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  color: black;
}
.text-btn{
  border-radius: 2px;
  padding: 5px;
  font-size: 12px;
  border: #ccc solid 1px;
}
.text-btn:hover{
  text-decoration: none;
}


/* Giao diện cho màn hình điện thoại */
